<phpunit colors="true" bootstrap="./tests/TestInit.php">
  <testsuite name="Metric">
    <file>./tests/Services/Librato/Test/MetricTestCase.php</file>
  </testsuite>
  <testsuite name="Metrics">
    <file>./tests/Services/Librato/Test/MetricsTestCase.php</file>
  </testsuite>
  <testsuite name="Collection">
    <file>./tests/Services/Librato/Test/Metrics/CollectionTestCase.php</file>
  </testsuite>
</phpunit>
