<phpunit colors="true" bootstrap="./tests/TestInit.php" debug="true">
  <testsuite name="Annotation">
    <file>./test/Services/Librato/Test/AnnotationTestCase.php</file>
  </testsuite>
  <testsuite name="Metric">
    <file>./tests/Services/Librato/Test/MetricTestCase.php</file>
  </testsuite>
  <testsuite name="Metrics">
    <file>./tests/Services/Librato/Test/MetricsTestCase.php</file>
  </testsuite>
  <testsuite name="Collection">
    <file>./tests/Services/Librato/Test/Metrics/CollectionTestCase.php</file>
  </testsuite>
  <testsuite name="SuperCollection">
    <file>./tests/Services/Librato/Test/Metrics/SuperCollectionTestCase.php</file>
  </testsuite>
</phpunit>
